    .carousel-item {
    max-height: 800px;
    margin-top: 20px;
}

.carousel-slide {
    margin-top: 20px;
}

footer {
    border-style: solid;
    background-color: transparent;
    border-width: 2px;
    border-color: white;
}

.footer-img {
    padding: 5px;
}

h2 {
    color: white;
    font-size: 70px;
    padding: 80px;
    display: flex;
    align-items: center;
}

.flip {
    padding: 20px;
}

.card {
    align-items: center;
    padding: 20px;
    background-color: transparent;
    color: white;
    border-width: 2px;
    border-color: white;
}

.card-text {
    align-items: center;
}

.card-title {
    align-items: center;
    text-align: center
}

.back {
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    position: absol
}

.content {
    font-size: 30px;
    border: gray;
    padding: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}

.circle {
    float: right;
}

.content form h1 {
    font-size: 60px;
    color: cyan;
}

form {
    border-color: white;
    border-width: 5px;
    border-color: white;
    color: white;
}

.heading {
    align-items: center;
}

.card-img-top {
    width: 200px;
}

.nav {
    background-color: rgba(0, 0, 0, 0.4);
}

@media(max-width: 600px) {
    h2 {
        font-size: 55px;
        text-align: center;
        padding-left: 25px;
    }
    .flip {
        align-items: center;
    }
    .carousel-slide {
        max-height: 800px
    }
    .carousel-item {
        max-height: 800px;
    }
    .circle {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .card {
        max-width:
    }