                                                                               @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
                                                                               * {
                                                                                   box-sizing: border-box;
                                                                                   margin: 0;
                                                                                   padding: 0;
                                                                                   font-family: 'Nunito', sans-serif;
                                                                               }
                                                                               
                                                                               .neon {
                                                                                   position: relative;
                                                                                   width: 900px;
                                                                                   height: 300px;
                                                                                   display: flex;
                                                                                   justify-content: center;
                                                                                   align-items: center;
                                                                                   color: white;
                                                                               }
                                                                               
                                                                               body {
                                                                                   background-color: #000;
                                                                                   display: flex;
                                                                                   justify-content: center;
                                                                                   align-items: center;
                                                                                   min-height: 100vh;
                                                                                   overflow: hidden;
                                                                               }
                                                                               
                                                                               .neon h1 {
                                                                                   font-size: 35px;
                                                                                   text-transform: uppercase;
                                                                                   font-weight: 600PX;
                                                                                   margin-top: 0%;
                                                                                   font-size: 5em;
                                                                                   letter-spacing: 0.1em;
                                                                                   text-shadow: 0 0 10px#00b3ff, 0 0 20px#00b3ff, 0 0 40px#00b3ff, 0 0 80px #00b3ff, 0 0 120px#00b3ff;
                                                                               }
                                                                               
                                                                               .lightbar {
                                                                                   position: absolute;
                                                                                   top: 0;
                                                                                   left: 0;
                                                                                   width: 10px;
                                                                                   height: 100%;
                                                                                   border-radius: 10px;
                                                                                   background: #fff;
                                                                                   z-index: 2;
                                                                                   box-shadow: 0 0 10px#00b3ff, 0 0 20px#00b3ff, 0 0 40px#00b3ff, 0 0 80px #00b3ff, 0 0 120px#00b3ff;
                                                                                   animation: animatelightbar 5s linear infinite;
                                                                               }
                                                                               
                                                                               @keyframes animatelightbar {
                                                                                   0%,
                                                                                   5% {
                                                                                       transform: scaleY(0) translateX(0);
                                                                                   }
                                                                                   10% {
                                                                                       transform: scaleY(1) translateX(0);
                                                                                   }
                                                                                   90% {
                                                                                       transform: scaleY(1) translateX(calc(900px - 10px));
                                                                                   }
                                                                                   95%,
                                                                                   100% {
                                                                                       transform: scaleY(0) translateX(calc(900px - 10px));
                                                                                   }
                                                                               }
                                                                               
                                                                               .toplayer {
                                                                                   position: absolute;
                                                                                   top: 0;
                                                                                   left: 0;
                                                                                   width: 100%;
                                                                                   height: 100%;
                                                                                   border-radius: 10px;
                                                                                   background: black;
                                                                                   animation: animatetoplayer 10s linear infinite;
                                                                               }
                                                                               
                                                                               @keyframes animatetoplayer {
                                                                                   0%,
                                                                                   2.5% {
                                                                                       transform: translateX(0);
                                                                                   }
                                                                                   5% {
                                                                                       transform: translateX(0);
                                                                                   }
                                                                                   45% {
                                                                                       transform: translateX(100%);
                                                                                   }
                                                                                   47.5%,
                                                                                   50% {
                                                                                       transform: translateX(100%);
                                                                                   }
                                                                                   50.001%,
                                                                                   52.5% {
                                                                                       transform: translateX(-100%);
                                                                                   }
                                                                                   55% {
                                                                                       transform: translateX(-100%);
                                                                                   }
                                                                                   95% {
                                                                                       transform: translateX(0%);
                                                                                   }
                                                                                   97.5%,
                                                                                   100% {
                                                                                       transform: translateX(0%);
                                                                                   }
                                                                               }