.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.background {
    height: 450px;
    background-color: rgba( 0, 0, 0, 0.4);
    margin-top: 60px;
}

.network {
    display: flex;
    align-items: center;
    margin-left: 35%;
    width: 400px;
    padding: 60px;
    height: 300px;
}

body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.footer {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    padding: 30px;
    height: 350px;
    border-radius: 5px;
    background-color: rgba( 0, 0, 0, 0.4)
}

.content {
    padding: 200px;
}

.footer-bottom {
    text-align: center;
}

footer ul {
    list-style: none;
}

.foot {
    margin: 20px;
}

.phone {
    font-size: 20px;
    color: cyan;
    text-decoration: none;
}

.socials {
    font-size: 25px;
    color: cyan;
}

#direction {
    font-size: 20px;
}

.socials a {
    font-size: 30px;
    color: cyan;
    text-decoration: none;
}

footer ul li a {
    color: cyan;
    text-decoration: none;
}

@media(max-width:600px) {
    .footer {
        border-style: solid;
        border-width: 2px;
        border-color: white;
        color: white;
        height: 650px;
        width: 220px;
    }
    footer ul {
        list-style: none;
        padding: 10px;
    }
    .foot {
        margin: 20px;
    }
    footer form {
        background-color: rgba(0, 0, 0, 0.4);
        width: 250px;
    }
    .content {
        padding: 2px;
        margin: 0%;
        width: 300px;
    }
    body {
        width: 100%;
    }
    footer ul li a {
        color: cyan;
        text-decoration: none;
    }
    .network {
        width: 520px;
        height: 300px;
        margin-top: 50px;
    }
    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    #navbarNavDropdown {
        background-color: black;
    }
}