*,
*:before,
*:after {
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 400px;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    color: gray;
    display: -webkit-flex;
    display: -moz-flexk;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.footer {
    background: rgb(1, 1, 68);
    color: gray;
    display: flex;
    height: 300px;
    padding: 10px;
    width: 1500px;
    display: -webkit-flex;
    display: -moz-flexk;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}


}
.footer-left {
    margin-left: 20px;
    width: 30%;
    padding: 30px 10px;
}
.footer-left img {
    width: 10%;
    margin-top: 8px;
}
.footer a {
    text-decoration: none;
    font-size: 15px;
}
h1 {
    margin-left: 75px;
    margin-top: -38px;
}
.footer-right,
.box {
    list-style: none;
    position: row wrap;
    padding-right: 40px;
}
.footer-right {
    display: flex
}
.footer-bottom {
    text-align: center;
}
form {
    background: white;
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    float: right;
    padding: 5px;
    margin-left: 25px;
    height: 260px;
    width: 700px;
}
form a {
    color: rgb(0, 133, 133)
}
#app {
    color: cyan;
}
#phone {
    font-size: 30px;
}
.socials a i {
    display: inline-block;
    font-size: 30px;
    float: right;
    margin-top: -35px;
    margin-bottom: 20px;
    padding: 5px
}
#directions {
    font-size: 20px
}
.social a {
    font-size: 19px;
}
@media (max-width:1180px) {
    .footer {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        height: 800px;
    }
    
    form {
        margin-left: -5px;
    }
    
    main {
        font-size: 50px;
    }
    
    h1 {
        margin-left: 115px;
        margin-top: -48px;
    }
}

}
@media(min-width:600px) {
    .footer {
        display: flex;
        width: 100%;
        height: 800px;
        flex-flow: row wrap;
    }
    form {
        margin-left: -5px;
    }
    main {
        font-size: 50px;
    }
    h1 {
        margin-left: 75px;
        margin-top: -38px;
    }
}